<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <style type="text/css">
        body, html {width: 100%;height: 100%; margin:0;font-family:"微软雅黑";}
        #l-map{height:300px;width:100%;}
        #r-result,#r-result table{width:100%;}
    </style>
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=xwWID35KbLINQjL50sazS4TmLAo8wUFx"></script>
    <title>驾车导航的结果面板</title>
    <th:block th:include="common/base::proejct-context" th:remove="tag"></th:block>

</head>
<style>

</style>
<body>
<div id="l-map"></div>
<div id="r-result" style="height: 250px;overflow: scroll"></div>
<div id="detail"></div>
<table style="margin-top: 10px;font-size: 14px" class="table table-striped table-bordered table-hover">
    <thead>
    <tr>
        <th>订单号</th>
        <th>下单时间</th>
        <th>寄件地址</th>
        <th>寄件详细地址</th>
        <th>寄件人</th>
        <th>寄件人手机</th>
        <th>收件地址</th>
        <th>收件详细地址</th>
        <th>收件人</th>
        <th>收件人手机</th>
    </tr>
    </thead>
    <tbody id="searchOrder">

    </tbody>
</table>
<button onclick="checkArrive()">点击确认送达</button>
</body>

<script type="text/javascript" th:inline="javascript">

    var orderInfo = [[${orderInfo}]];
    var start = orderInfo.startGps;
    var end = orderInfo.endGps;
    console.log(start+"   "+end);
    var sendPhone = orderInfo.sendPhone===null?'':orderInfo.sendPhone;
    var str =
        "<tr>" +
        "<td>"+orderInfo.orderNo+"</td>"+
        "<td>"+ getLocalTime(orderInfo.orderCreateTime)+"</td>"+
        "<td>"+ orderInfo.startPos+"</td>"+
        "<td>"+ orderInfo.startDetailPos+"</td>"+
        "<td>"+ orderInfo.sendName+"</td>"+
        "<td>"+ sendPhone +"</td>"+
        "<td>"+ orderInfo.endPos+"</td>"+
        "<td>"+ orderInfo.endDetailPos+"</td>"+
        "<td>"+ orderInfo.reciveName+"</td>"+
        "<td>"+ orderInfo.recivePhone +"</td>"+
        "</tr>";


    $("#searchOrder").html(str);

    var startpoint = new BMap.Point(start.split(" ")[0],start.split(" ")[1]);
    var endpoint = new BMap.Point(end.split(" ")[0],end.split(" ")[1]);

    // 百度地图API功能
    var map = new BMap.Map("l-map");
    map.centerAndZoom(new BMap.Point(116.404, 39.915), 12);
    map.setViewport([startpoint,endpoint]);
    var driving = new BMap.DrivingRoute(map, {renderOptions: {map: map, panel: "r-result", autoViewport: true}});
    driving.search(startpoint, endpoint);


    function checkArrive(){
        var flag = confirm("是否确认已送达？");
        if(flag){
            window.location.href = ctxPath + "/myOrder/sendArrived?orderNo="+orderInfo.orderNo;
        }
    }
    function getLocalTime(nS) {
        return new Date(parseInt(nS) ).toLocaleString().replace(/:\d{1,2}$/,' ');
    }
</script>

</html>