<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <style type="text/css">
        body, html {width: 100%;height: 100%; margin:0;font-family:"微软雅黑";}
        #l-map{height:300px;width:100%;}
        #r-result,#r-result table{width:100%;}
    </style>
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=xwWID35KbLINQjL50sazS4TmLAo8wUFx"></script>
    <title>驾车导航的结果面板</title>
    <th:block th:include="common/base::proejct-context" th:remove="tag"></th:block>

</head>
<style>

</style>
<body>
<div id="l-map"></div>
<div id="r-result" style="height: 250px;overflow: scroll"></div>
<div id="detail"></div>
<table style="margin-top: 10px;font-size: 14px" class="table table-striped table-bordered table-hover">
    <thead>
    <tr>
        <th>订单号</th>
        <th>下单时间</th>
        <th>寄件地址</th>
        <th>寄件详细地址</th>
        <th>寄件人</th>
        <th>寄件人手机</th>
        <th>收件地址</th>
        <th>收件详细地址</th>
        <th>收件人</th>
        <th>收件人手机</th>
    </tr>
    </thead>
    <tbody id="searchOrder">

    </tbody>
</table>
<button onclick="checkArrive()">点击确认送达</button>
</body>


<script type="text/javascript" th:inline="javascript">
    //开始前台的js代码 javascript

    //通过thymleaf 进行获取后台向前台传递的订单信息（orderInfo）
    //同步请求
    var orderInfo = [[${orderInfo}]];
    // var orderInfo = [[${name}]];
    // var orderInfo = [[${age}]];

    //获取到开始时的地理坐标
    var start = orderInfo.startGps;
    //获取到结束时的地理坐标
    var end = orderInfo.endGps;

    //向控制台打印开始坐标和结束坐标
    console.log(start+"   "+end);

    //进行渲染table
    var sendPhone = orderInfo.sendPhone===null?'':orderInfo.sendPhone;
    var str =
        "<tr>" +
        "<td>"+orderInfo.orderNo+"</td>"+
        "<td>"+ getLocalTime(orderInfo.orderCreateTime)+"</td>"+
        "<td>"+ orderInfo.startPos+"</td>"+
        "<td>"+ orderInfo.startDetailPos+"</td>"+
        "<td>"+ orderInfo.sendName+"</td>"+
        "<td>"+ sendPhone +"</td>"+
        "<td>"+ orderInfo.endPos+"</td>"+
        "<td>"+ orderInfo.endDetailPos+"</td>"+
        "<td>"+ orderInfo.reciveName+"</td>"+
        "<td>"+ orderInfo.recivePhone +"</td>"+
        "</tr>";
    $("#searchOrder").html(str);
    //渲染表格结束。

    //将我们的开始坐标封装成百度地图api识别的参数
    var startpoint = new BMap.Point(start.split(" ")[0],start.split(" ")[1]);
    //将我们的结束坐标封装成百度地图api识别的参数
    var endpoint = new BMap.Point(end.split(" ")[0],end.split(" ")[1]);


    // 百度地图API功能
    //创建一个地图
    var map = new BMap.Map("l-map");
    //将地图的中心点坐标声明出来。此时，地图就会进行加载。
    map.centerAndZoom(new BMap.Point(116.404, 39.915), 12);

    //设置我们的起始位置和结束位置，为接下来的显示导航信息做准备。
    map.setViewport([startpoint,endpoint]);

    //进行规划一个驾车导航方案，并且在指定的位置（"r-result"）显示文字规划方案。
    var driving = new BMap.DrivingRoute(map, {renderOptions: {map: map, panel: "r-result", autoViewport: true}});

    //将导航信息进行显示到地图上。
    driving.search(startpoint, endpoint);



    function checkArrive(){
        var flag = confirm("是否确认已送达？");
        if(flag){
            window.location.href = ctxPath + "/myOrder/sendArrived?orderNo="+orderInfo.orderNo;
        }
    }
    function getLocalTime(nS) {
        return new Date(parseInt(nS) ).toLocaleString().replace(/:\d{1,2}$/,' ');
    }
</script>

</html>