<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no"/>
    <title>注册</title>
    <th:block th:include="common/base::proejct-context" th:remove="tag"/>
</head>

<style>

    #banner{
        font-size: 2rem;
        margin-top: 5rem;
        margin-left:38rem;
    }

    input{
        border: 0.02rem solid black;
    }
    #loginForm{
        margin-top: 4rem;
        margin-left: 35rem;
    }

    .title{
        margin-top: 0.5rem;
    }

    #loginBtn{
        margin-left: 4rem;
    }

</style>
<body>
<canvas id="canvas"></canvas>

<div id="banner">
    帮买平台
</div>
<div id="loginForm">
    <div class="title">
        用户名： <input type="text" id="userName"><span style="color:red;">*</span>
    </div>
    <div class="title">
        手机号： <input type="text" id="phone">
    </div>
    <div class="title">
        昵称： <input type="text" id="nickName"><span style="color:red;">*</span>
    </div>
    <div class="title">
        密&nbsp;&nbsp;&nbsp;&nbsp;码： <input type="password" id="password"><span style="color:red;">*</span>
    </div>
    <div class="title">
        确认密码： <input type="password" id="checkPassword" ><span style="color:red;">*</span>
    </div>
    <div class="title">
        <button class="btn-primary" id="submitBtn" onclick="submit()">注册</button>
    </div>
</div>

</body>

<script type="text/javascript" th:inline="javascript">

    /**
     * 登陆
     */
    function submit(){

        var userName = $("#userName").val().trim();
        var password = $("#password").val().trim();
        var checkPassword = $("#checkPassword").val().trim();
        var phone = $("#phone").val().trim();
        var nickName = $("#nickName").val().trim();

        if(userName===""){
            alert("请输入用户名！");
            return false;
        }
        if(nickName===""){
            alert("请输入昵称！");
            return false;
        }
        if(password!==checkPassword){
            alert("您两次输入的密码不同，请确认后输入！");
            return false;
        }
        checkMobile(phone);

        $.ajax({
            type: "post",
            url:ctxPath+ "/submit",
            data: {userName:userName,password:password,phone:phone,nickName:nickName},
            dataType: "json",
            success: function (result) {
                if(result.flag){
                    console.log("sign in success");
                    alert("注册成功！用户名是："+userName+"，请牢记您的密码！确定后进入登陆页！");
                    window.location.href=ctxPath+"/login_view";
                }
                else{
                    alert(result.message);
                }

            },
            error: function (result) {
                console.log(result);
            }
        });
    }

    function checkMobile(sMobile){
        if(!(/^1[3|4|5|8][0-9]\d{4,8}$/.test(sMobile))){
            alert("不是完整的11位手机号或者正确的手机号前七位");
            document.mobileform.mobile.focus();
            return false;
        }
    }
</script>
</html>